@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.about-content {
    @include m.flex-col;
    padding: v.$spacing-md 0px;
    gap: v.$spacing-md;
    .about-banner{
        width: 100%;
        position: relative;
        overflow: hidden;
        border-radius: v.$radius-md;
        box-shadow: v.$shadow;
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background: v.$overlay-dark;
            z-index: 1;
            border-radius: inherit;
            pointer-events: none;
        }
        .about-banner-img {
            @include m.img-cover;
            z-index: 0;
            height: 223px;
            border-radius:inherit;
        }
    }
    .about-collapse {
        padding: 0 clamp(0px, calc(100vw - 768px), 120px);
        @include m.flex-col;
        gap: v.$spacing-md;
    }
}