$shadow : 0 10px 25px rgba(0, 0, 0, 0.6);
.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 50px;
    gap: 30px;
    .about-banner{
        width: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        box-shadow: $shadow;
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background: rgba(0, 0, 0, 0.5);
            z-index: 1;
            border-radius: inherit;
            pointer-events: none;
        }
        .about-banner-img {
            display: block;
            width: 100%;
            z-index: 0;
            height: 223px;
            object-fit: cover;
            border-radius:inherit;
        }
    }
    .about-collapse {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}