@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.housing-content {
    @include m.flex-col(center,center);
    width: 100%;
    box-sizing: border-box;

    .housing-main {
        @include m.flex-row(space-between,center);
        padding-top: v.$spacing-sm;
        padding-bottom: v.$spacing-sm;
        width: 100%;

        @media (max-width:v.$bp-mobile) {
            @include m.flex-col(flex-start,flex-start);
            gap:5px;
        }

        .leftside {
            display: flex;
            flex-direction: column;
            gap: v.$spacing-sm;

            @media (max-width:v.$bp-mobile) {
                @include m.flex-col(flex-start,flex-start);
            }

            .housing-title {
                font-size: v.$font-size-lg;
                color: v.$color-primary;

                @media (max-width:v.$bp-mobile) {
                    font-size: v.$font-size-body;
                }
            }

            .location {
                @media (max-width:v.$bp-mobile) {
                    font-size: v.$font-size-sm;
                }
            }

            .tags-row {
                display: flex;
                gap: v.$spacing-sm;
                @media (max-width:v.$bp-mobile){
                    gap:v.$spacing-xs;
                }

                .tags {
                    color: v.$color-white;
                    font-size: v.$font-size-sm;
                    background-color: v.$color-primary;
                    border-radius: v.$radius-md;
                    padding: 8px 16px;

                    @media (max-width:v.$bp-mobile) {
                        font-size: v.$font-size-xs;
                        border-radius: v.$radius-sm;
                        // padding:8px 12px;
                    }
                }
            }
        }

        .rightside {
            @include m.flex-col(flex-start,center);
            gap: v.$spacing-md;

            @media (max-width:v.$bp-mobile) {
                @include m.flex-row(space-between);
                width: 100%;
                gap: v.$spacing-xs;
            }

            .host {
                @include m.flex-row(center,center);
                gap: v.$spacing-sm;

                @media (max-width:v.$bp-mobile) {
                    order: 2;
                    gap: v.$spacing-xs;
                }

                .host-img {
                    width: clamp(32px, 5vw, 64px);
                    height: clamp(32px, 5vw, 64px);
                    border-radius: 50%;
                }
            }

            .notation {
                display: flex;
                gap: v.$spacing-sm;

                @media (max-width:v.$bp-mobile) {
                    order: 1;
                }
            }
        }
    } 
    .housing-footer {
        display: flex;
        flex: 1;
        gap: v.$spacing-sm;
        width: 100%;

        @media (max-width:v.$bp-mobile) {
            @include m.flex-col;
        }

        .collapse-description {
            flex: 1;
            display: flex;
            justify-content: flex-start;
        }

        .collapse-equipment {
            flex: 1;
            display: flex;
            justify-content: flex-end;

            @media (max-width:v.$bp-mobile) {
                justify-content: flex-start;
                width: 100%;
            }
        }
    }
}