.carrousel{
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    aspect-ratio: 16/9;
    max-height: 900px;
    width: 100%;
    .carrousel-img{
        object-fit: cover;
        object-position:center;
        width: 100%;
        height: 100%;
    }
    .carrousel-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0,0,0,0);
        transition: background 0.3s;
        border-radius: 10px;
        border:none
    }
    .left-btn{
        left: 10px;
    }
    .right-btn{
        right: 10px;
    }
    .carrousel-btn:hover {
        background: rgba(0, 0, 0, 0.4); 
        border-radius: 10px;
    }
}