$shadow : 0 10px 25px rgba(0, 0, 0, 0.6);
$colorBlack : #000;

.home-content {
    margin: 30px 0px;

    .banner {
        width: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        box-shadow: $shadow;

        .banner-slogan {
            position: absolute;
            inset: 0;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 48px;
            font-weight: 700;
            text-shadow:
                -1px -1px 0 $colorBlack,
                1px -1px 0 $colorBlack,
                -1px  1px 0 $colorBlack,
                1px  1px 0 $colorBlack;
            }
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background: rgba(0, 0, 0, 0.5);
            z-index: 1;
            border-radius: inherit;
            pointer-events: none;
        }
        .banner-img {
            display: block;
            width: 100%;
            z-index: 0;
            height: 223px;
            object-fit: cover;
            border-radius:inherit;
        }
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:40px;
    margin-top: 40px;
    background-color: #F6F6F6;
    padding: 60px;
    border-radius: 20px;
}
}