@use "../../styles/variables" as v;
.layout {
  display: flex;
  flex-direction: column;
}

.layout-content {
  min-width: 0;
  width: 100%;
  padding: clamp(v.$spacing-xs, 2vw, v.$spacing-md) clamp(v.$spacing-sm, 5vw, v.$spacing-xl);
}
