@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;
.card {
    position: relative;
    border-radius: v.$radius-sm;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(
            to bottom,
            v.$overlay-gradient-base 50%,
            v.$overlay-dark 100%
            );
        z-index: 1;
        border-radius: inherit;
        pointer-events: none;
    }
    &:hover::after {
        background:linear-gradient(
            to bottom,
            v.$overlay-gradient-base,
            v.$overlay-dark-hover 100%
            
        );
    }
    .card-img {
        height: 100%;
        @include m.img-cover;
    }
    .card-title {
        position: absolute;
        bottom: v.$spacing-xs;
        left: v.$spacing-xs;
        right: v.$spacing-xs;
        color: v.$color-white;
        z-index: 2;
        font-size:v.$font-size-body;
    }
}