.header {
    display: flex;
    justify-content: space-between;
    margin: 30px 120px;
    align-items: center;
    .header-logo {
        display: flex;
        align-items: center;
        gap: 2px;
    }
    .header-nav{
        display: flex;
        gap: 57px;
        .nav-link{
            text-decoration: none;
            color: black;
            font-size: 24px;
        }
        .active{
            text-decoration: underline;
        }
    }
}
