.header {
    display: flex;
    justify-content: space-between;
    margin: 38px 50px;
    align-items: center;
    .header-logo {
        display: flex;
        align-items: center;
        .logo-door {
    
        transform: translateX(-16px) translateY(15px);
        }
    }
    .header-nav{
        display: flex;
        gap: 57px;
        .nav-link{
            text-decoration: none;
            color: black;
            font-size: 24px;
        }
        .active{
            text-decoration: underline;
        }
    }
}
