.footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap:20px ;
}
.footer-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}