@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.header {

    @include m.flex-row(space-between,center);
    padding: v.$spacing-md clamp(v.$spacing-sm, 5vw, v.$spacing-xl);

    .header-logo {
        @include m.flex-row(flex-start,center);
        gap: 2px;
    }
    .header-nav{
        display: flex;
        gap: clamp(v.$spacing-sm, 5vw , 57px);
        .nav-link{
            text-decoration: none;
            color: v.$color-black;
            font-size: v.$font-size-md;
            @media(max-width:v.$bp-mobile){
                font-size: v.$font-size-sm;
            }
        }
        .active{
            text-decoration: underline;
        }
    }
}
