@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.footer {
    background-color: v.$color-black;
    color: v.$color-white;
    @include m.flex-col(center,center);
    padding: 60px;
    min-height: 209px;
    gap:v.$spacing-sm ;
    .footer-logo {
        @include m.flex-row;
        gap: 2px;
    }
    .footer-break {
        display: inline;
        @media (max-width: v.$bp-mobile){
            display: block;
        }
    }
}