@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;
.error-content {
    @include m.flex-col(center,center);
    gap: 50px;
    padding-top: v.$spacing-xl;
    .error-title {
        font-size: 248px;
        color:v.$color-primary;
        @media(max-width: v.$bp-mobile){
            font-size: 96px;
        }
    }
    .error-quote{
        font-size: v.$font-size-lg;
        color:v.$color-primary;
        @media(max-width: v.$bp-mobile){
            font-size: v.$font-size-body;
        }
    }
    .error-link{
        color: v.$color-black;
        padding-top: v.$spacing-sm;
        padding-bottom: v.$spacing-xl;
        @media(max-width: v.$bp-mobile){
            font-size: v.$font-size-sm;
        }
    }
}